<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Default" verbose="1">
    <test name="FastTests">
        <groups>
            <run>
                <include name="fast"/>
            </run>
        </groups>
    </test>
    <test name="SlowTests">
        <groups>
            <run>
                <include name="slow"/>
            </run>
        </groups>
    </test>
</suite>